<h1>
Dashboard
</h1>


<h2>
Olá {{usuario.nome}}
</h2>


<h3>Nova tarefa</h3>


<form method="POST" action="/tarefa/nova">


<input 
name="titulo"
placeholder="Título">


<br>


<textarea 
name="descricao"
placeholder="Descrição">
</textarea>


<br>


<button>
Criar tarefa
</button>


</form>



<hr>


<h3>Minhas tarefas</h3>


{% for tarefa in tarefas %}


<div>


<h4>

{% if tarefa.concluida %}

✅

{% endif %}


{{ tarefa.titulo }}

</h4>


<p>
{{ tarefa.descricao }}
</p>


<a href="/tarefa/concluir/{{tarefa.id}}">
Concluir
</a>


<a href="/tarefa/excluir/{{tarefa.id}}">
Excluir
</a>


</div>


<hr>


{% else %}

<p>
Nenhuma tarefa cadastrada.
</p>


{% endfor %}



<a href="/logout">
Sair
</a>